<form onsubmit={{action "submitChanges"}}>
  <div class="field">
    <label>First Name: {{model.first}}</label>
    {{input type="text" placeholder="First Name" value=first}}
  </div>

  <div class="field">
    <label>Last Name: {{model.last}}</label>
    {{input type="text" placeholder="Last Name" value=last}}
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">save</button>
  </div>
</form>
